* {
  font-family: "Consolas"; /* endre hvis ønskelig! */
  line-height: 1.4;

}

/* dark mode */

.dark-mode {
  background-color: #1F1B24;
  color: #FFFFFF;
  margin: 0;
  /* for sticky footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.darkmode-container {
  background-color: #404040;
  border:3px solid #c9d1d9;
  border-radius: 0.5rem;
  padding:1.5rem;
  margin: 2rem;
}

/* navbar css */

nav {
  background-color: #0d1117;
  border-bottom:0.15rem solid #2b3642;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  display: flex;
  justify-content: center;
}

nav ul li a {
  color: #c9d1d9;
  text-decoration: none;
  padding: 1rem 2rem;
  display: block;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #3a3a3a;
  color: #fcfcfc;
  box-shadow: 0 2px 0 0 rgba(230, 230, 230, 0.9);
}

nav a.active {
  color: #fcfcfc;
  background-color: #313131;
  box-shadow: 0 2px 0 0 rgba(200, 200, 200, 0.8);
}

.center {
  text-align: center;
}

/* footer css */

footer {
  background-color: #0d1117;
  padding: 1rem;
  margin-top: auto; /* place bottom of page if page too long */
  border-top:0.15rem solid #2b3642;
  box-sizing:border-box;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap:2rem;
}

footer ul li a {
  color: #c9d1d9;
  background-color: #21262d;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.5rem;
  display:flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1rem;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

footer ul li a:hover {
  color: #fcfcfc;
  background-color: #3a3a3a;
  box-shadow: 0 0 10px 2px rgba(200, 200, 200, 0.8); /* offset x, y, blur-radius, spread-radius, color */
}

.icon {
  height: 2rem;
  width: 2rem;
}

/* main */

.container {
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin: 2rem;
}

/* makes section take most of the space compared to aside */
.content {
  display: flex;
  gap: 1rem;
  max-width: 1600px;
  margin:auto;
}

section {
  width: 75%;
  float: left;
}

.side-bar {
  float: right;
}

/* HenrikL css */

.HenrikLBody {background-image: url("../media/applelogo.png");
  background-size: cover;
  background-position: center;
  margin: 0px;
  /* for sticky footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.picture-cycle {
  width: 70%;
  max-width: 600px;
  aspect-ratio: 16 / 16;
  margin: 0 auto 2rem;
  overflow: hidden; /* hide elements spilling outside boundary */
  position: relative;
}

.picture-cycle img {
  border-radius: 1rem;
  border: #c9d1d9 solid 3px;
  box-sizing: border-box; /* includes border in total size */
  position: absolute;
  animation: picture-cycle 20s infinite;
  opacity: 0;
  width: 100%;
  height: auto;
}

@keyframes picture-cycle {
  0%, 8% { opacity: 0; }
  10%, 30% { opacity: 1; }
  32%, 100% { opacity: 0; }
}

.picture-cycle img:nth-child(1){animation-delay:0s;}
.picture-cycle img:nth-child(2){animation-delay:10s;}
.picture-cycle img:nth-child(3){animation-delay:20s;}

/* HenrikTS css */

#HenrikTS-tittel {
  margin-bottom: 0.3rem;
}

.title-underline {
  border-color: rgb(138, 138, 138);
  margin: 0 10px 1px 10px;
  width: 97%;
  max-width: 1600px;
  margin: auto;
}

.aside-klippeørn {
  background-color: rgba(94, 172, 254);
  border:3px solid #c9d1d9;
  border-radius: 0.5rem;
  margin: 2rem;
  padding-left: 0.5rem;
  max-width: 500px;
  /* for making images display at bottom of container */
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

/* text appear over image */
.aside-klippeørn p {
  z-index: 1;
  color:black;
}

.aside-img-container {
  position: relative;
}

#hungry-eagle {
  display: block;
  width:80%;
  max-height: 350px;
  margin: -1.8rem 0 0 -0.5rem;
}

#hyrax-in-trouble {
  position: absolute;
  border-radius: 5rem 5rem 0 0;
  bottom:0px;
  right: 0px;
  width: 30%;
}

.image-slider {
  width: 70%;
  max-width: 600px;
  aspect-ratio: 16 / 16;
  margin: 0 auto 2rem;
  overflow: hidden; /* hide elements spilling outside boundary */
  position: relative;

}

.image-slider img {
  border-radius: 1rem;
  border: #c9d1d9 solid 3px;
  box-sizing: border-box; /* includes border in total size */
  position: absolute;
  animation: image-slider 30s infinite;
  opacity: 0;
  width: 100%;
  height: auto;
  max-height: 600px;
}

@keyframes image-slider {
  0%, 1%{opacity:0}
  6%{opacity:1}
  10%{opacity:0}
  100%{opacity:0}
}

.image-slider img:nth-child(1){animation-delay:0s;}
.image-slider img:nth-child(2){animation-delay:2s;}
.image-slider img:nth-child(3){animation-delay:4s;}
.image-slider img:nth-child(4){animation-delay:6s;}
.image-slider img:nth-child(5){animation-delay:8s;}
.image-slider img:nth-child(6){animation-delay:10s;}
.image-slider img:nth-child(7){animation-delay:12s;}
.image-slider img:nth-child(8){animation-delay:14s;}
.image-slider img:nth-child(9){animation-delay:16s;}
.image-slider img:nth-child(10){animation-delay:18s;}
.image-slider img:nth-child(11){animation-delay:20s;}
.image-slider img:nth-child(12){animation-delay:22s;}
.image-slider img:nth-child(13){animation-delay:24s;}
.image-slider img:nth-child(14){animation-delay:26s;}
.image-slider img:nth-child(15){animation-delay:28s;}

/* ChristianBA css */

/* rave mode */
.rave-mode {
  background-color: #1F1B24;
  color: #FFFFFF;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  animation-name: rave-colors; /* Name of keyframes-set */ 
  animation-duration: 30s; /* Time of syklus */ 
  animation-timing-function: linear; 
  animation-iteration-count: infinite;  
  animation-direction: alternate;
}

@keyframes rave-colors {
  0% {
    background-color: #1b1d24; 
    color: #FFFFFF;
  }
  25% {
    background-color: #502571; 
    color: #6a0a0a; 
  }
  50% {
    background-color: #1F1B24; 
    color: #781313; 
  }
  75% {
    background-color: #1d6db9; 
    color: #58ed13; 
  }
  100% {
    background-color: #6c12db;
    color: #e51c8b;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 1.25fr 1.2fr;
  place-items: center;
  margin-bottom: 2.0rem;
}

.songtext-container {
  background-color: #1F1B24;
  border:3px solid #FFFFFF;
  border-radius: 0.5rem;
  padding: 0.5rem;
  min-width: 50%;
  width: 100%;
  margin-left: 5rem;
}

.asidedance-container {
  min-width: 100%;
}

.asidedance-container img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.grid-container img {
  max-width: 300px;
  margin: auto;
 height: 100%;
}

/* Torrin CSS*/

.gallery_pic{
    height:175px;
    width:100%;
    object-fit:cover;
}
.gallery_border{
  display:inline-flex;
  border:3px solid #c9d1d9;
  border-radius: 0.5rem;
  justify-content: center;
  gap: 0.7rem;
  padding:1.0rem;
  margin:1.5rem;
  background-color: #404040;
}

.text{
    border:1px solid black;
    padding:10px;
    margin:10px;
    background-color: aliceblue;
}

.button{
    border:1px solid black;
    border-radius: 5px;
    padding:5px;
    background-color:#caf0f0;
}

#darkmode-link{
  width:fit-content;
  color:#FFFFFF;
  text-decoration: none;
  background-color: #404040;
  border:3px solid #c9d1d9;
  border-radius: 0.5rem;
  margin:1.5rem;
  padding:0.3rem;
}