/* temp visualizers */
.container {
  padding: 1.5rem;
  margin: 2rem;
}

.aqua {
  background-color: aqua;
}
.beige {
  background-color: beige;
}

/* navbar css */
.navbar-list {
  list-style-type: none;
}

.navbar-list li {
  display: inline-block;
  margin: 0 1rem 0 1rem;
}

.center {
  text-align: center;
}

.side-bar {
  display: inline-block;
}

.content {
  display: flex;
  gap: 1rem;
}

/* makes section take most of the space compared to aside */
section {
  flex: 3;
}

/* HenrikL css under */

.HenrikLBody {background-image: url("../media/applelogo.png");
background-size: cover;}

.iphone17 {width: 300px;}

.iphone17pro {width: 300px;}

.applewatch {width: 150px;}

.color-container ul {
  list-style: none;
  display: flex;      
  gap: 20px;  
  justify-content: center;        
}
