* {
  font-family: "Consolas"; /* endre hvis ønskelig! */
  line-height: 1.4;

}

  /* dark mode */
.dark-mode {
  background-color: #1F1B24;
  color: #FFFFFF;
  margin: 0;
  /* for sticky footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.darkmode-container {
  background-color: #404040;
  border:2px solid rgb(173, 173, 173);
  border-radius: 0.5rem;
  padding:1.5rem;
  margin: 2rem;
}

.darkmode-text {
  color: #FFFFFF;
}

/* navbar css */

nav {
  background-color: #0d1117;
  border-bottom:0.15rem solid #2b3642;
}
nav ul {
  list-style-type: none;
  margin: 0px;
  display: flex;
  justify-content: center;
}

nav ul li a {
  color: #c9d1d9;
  text-decoration: none;
  padding: 1rem 2rem;
  display: block;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #3a3a3a;
  color: #fcfcfc;
  box-shadow: 0 2px 0 0 rgba(230, 230, 230, 0.9);
}

nav a.active {
  color: #fcfcfc;
  background-color: #313131;
  box-shadow: 0 2px 0 0 rgba(200, 200, 200, 0.8);
}

.center {
  text-align: center;
}

/* footer css */

footer {
  background-color: #0d1117;
  padding: 1rem;
  margin-top: auto; /* place bottom of page if page too long */
  border-top:0.15rem solid #2b3642;
  box-sizing:border-box;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap:2rem;
}

footer ul li a {
  color: #c9d1d9;
  background-color: #21262d;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.5rem;
  display:flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1rem;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

footer ul li a:hover {
  color: #fcfcfc;
  background-color: #3a3a3a;
  box-shadow: 0 0 10px 2px rgba(200, 200, 200, 0.8); /* offset x, y, blur-radius, spread-radius, color */
}

.icon {
  height: 2rem;
  width: 2rem;
}

/* main */ 
.container {
  padding: 1.5rem;
  margin: 2rem;
}
/* makes section take most of the space compared to aside */
.content {
  display: flex;
  gap: 1rem;
}

section {
  width: 75%;
  float: left;
}

.side-bar {
  float: right;
}

.color-container ul {
  list-style: none;
  display: flex;      
  gap: 20px;  
  justify-content: center;        
}

/* HenrikL css */

.HenrikLBody {background-image: url("../media/applelogo.png");
background-size: cover;
background-position: center;

}
.picture-cycle {
  width: 70%;
  max-width: 600px;
  aspect-ratio: 16 / 16;
  margin: 0 auto 2rem;
  overflow: hidden; /* hide elements spilling outside boundary */
  position: relative;

}

.picture-cycle img {
  border-radius: 1rem;
  border: #c9d1d9 solid 3px;
  box-sizing: border-box; /* includes border in total size */
  position: absolute;
  animation: picture-cycle 20s infinite;
  opacity: 0;
  width: 100%;
  height: auto;
}

@keyframes picture-cycle {
  0%, 8% { opacity: 0; }
  10%, 30% { opacity: 1; }
  32%, 100% { opacity: 0; }
}

.picture-cycle img:nth-child(1){animation-delay:0s;}
.picture-cycle img:nth-child(2){animation-delay:10s;}
.picture-cycle img:nth-child(3){animation-delay:20s;}

.HenrikLFooter {
  width: 133.5%;
  background-color: #0d1117;
  padding: 1rem;
  margin-top: auto; /* place bottom of page if page too long */
  border-top:0.15rem solid #2b3642;
  box-sizing:border-box;
}

.HenrikLFooter ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap:2rem;
}

.HenrikLFooter ul li a {
  color: #c9d1d9;
  background-color: #21262d;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.5rem;
  display:flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1rem;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.HenrikLFooter ul li a:hover {
  color: #fcfcfc;
  background-color: #3a3a3a;
  box-shadow: 0 0 10px 2px rgba(200, 200, 200, 0.8); /* offset x, y, blur-radius, spread-radius, color */
}


/* HenrikTS css */

.image-slider {
  width: 70%;
  max-width: 600px;
  aspect-ratio: 16 / 16;
  margin: 0 auto 2rem;
  overflow: hidden; /* hide elements spilling outside boundary */
  position: relative;

}

.image-slider img {
  border-radius: 1rem;
  border: #c9d1d9 solid 3px;
  box-sizing: border-box; /* includes border in total size */
  position: absolute;
  animation: image-slider 30s infinite;
  opacity: 0;
  width: 100%;
  height: auto;
  max-height: 600px;
}

@keyframes image-slider {
  0%, 1%{opacity:0}
  6%{opacity:1}
  10%{opacity:0}
  100%{opacity:0}

}

.image-slider img:nth-child(1){animation-delay:0s;}
.image-slider img:nth-child(2){animation-delay:2s;}
.image-slider img:nth-child(3){animation-delay:4s;}
.image-slider img:nth-child(4){animation-delay:6s;}
.image-slider img:nth-child(5){animation-delay:8s;}
.image-slider img:nth-child(6){animation-delay:10s;}
.image-slider img:nth-child(7){animation-delay:12s;}
.image-slider img:nth-child(8){animation-delay:14s;}
.image-slider img:nth-child(9){animation-delay:16s;}
.image-slider img:nth-child(10){animation-delay:18s;}
.image-slider img:nth-child(11){animation-delay:20s;}
.image-slider img:nth-child(12){animation-delay:22s;}
.image-slider img:nth-child(13){animation-delay:24s;}
.image-slider img:nth-child(14){animation-delay:26s;}
.image-slider img:nth-child(15){animation-delay:28s;}

/* ChristianBA css */
/* rave mode */
.rave-mode {
  background-color: #1F1B24;
  color: #FFFFFF;
  margin: 0;

animation-name: rave-colors; /* Name of keyframes-set */ 
animation-duration: 60s; /* Varigheten av én syklus */ 
animation-timing-function: linear; /* Animasjonshastigheten (konstant) */ 
animation-iteration-count: infinite; /* Gjenta i det uendelige */ 
animation-direction: alternate; /* Valgfritt: Få fargene til å "pulse" frem og tilbake */
}
/* 2. Definer keyframes */
@keyframes rave-colors {
  0% {
    background-color: #1F1B24; /* Red */
    color: #FFFFFF; /* Grean */
  }
  25% {
    background-color: #FFFFFF; /* Grean */
    color: #1F1B24; /* Blue */
  }
  50% {
    background-color: #1F1B24; /* Blue */
    color: #FFFFFF; /* Yellow */
  }
  75% {
    background-color: #FFFFFF; /* Yellow */
    color: #1F1B24; /* Magenta */
  }
  100% {
    background-color: #1F1B24; /* Magenta */
    color: #FFFFFF; /* Red */
  }
}

.disco-container {
  width: 40%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* hide elements spilling outside boundary */
  position: relative;
}
.disco-container img {
  position: absolute;
  width: 100%;
  height: top;
}

/* Torrin CSS*/
.gallery_pic{
    height:175px;
    width:100%;
    object-fit:cover;
}
.gallery_border{
    border:1px solid rgb(81, 81, 81);
    display:inline-flex;
    justify-content: center;
    gap: 10px;
    padding:10px;
    margin-bottom:10px;
    background-color: rgb(81, 81, 81);
}
.text{
    border:1px solid black;
    padding:10px;
    margin:10px;
    background-color: aliceblue;
}
.button{
    border:1px solid black;
    border-radius: 5px;
    padding:5px;
    background-color:#caf0f0;
}